<% if @user.errors.any? %>
    <div id="error_explanation">
      <% @user.errors.full_messages.each do |message| %>
          <div class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
    </div>
<% end %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= I18n.t('user_home.title.user_details') %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

        <%= form_tag update_password_user_path(@user.id), :method => 'get', :class => "schedule-form form-horizontal" do %>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('devise.user.email') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= @user.email %></p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('devise.user.first_name') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= @user.first_name %></p>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag 'user[password]', I18n.t('devise.user.password'), class: "col-md-2 control-label" %>
              <div class="col-sm-4">
                <%= password_field_tag 'user[password]', nil, autocomplete: "off", class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag 'user[password_confirmation]', I18n.t('devise.user.password_confirmation'), class: "col-md-2 control-label" %>
              <div class="col-sm-4">
                <%= password_field_tag 'user[password_confirmation]', nil, autocomplete: "off", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-md-offset-2">
                <%= submit_tag I18n.t('user_home.update_password'), class: "btn btn-info" %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <%= I18n.t('user_home.title.rentable_details') %>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">


        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <%= I18n.t('user_home.title.invoices_details') %>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">


        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
        officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
        keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
        butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>