<% if @user.errors.any? %>
    <div id="error_explanation">
      <% @user.errors.full_messages.each do |message| %>
          <div class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
    </div>
<% end %>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= I18n.t('user_home.title.pending_transfer_details') %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label"><%= I18n.t('rentables.admin') %></label>

            <div class="col-sm-10">
              <p class="form-control-static"><%= @user.rentable.admin.last_name + ' ' +@user.rentable.admin.first_name %></p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"><%= I18n.t('rentables.account_number') %></label>

            <div class="col-sm-10">
              <p class="form-control-static"><%= @user.rentable.account_number %></p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"><%= I18n.t('rentables.transfer_address') %></label>

            <div class="col-sm-10">
              <p class="form-control-static"><%= @user.rentable.transfer_address %></p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"><%= I18n.t('rentables.transfer_title') %></label>

            <div class="col-sm-10">
              <p class="form-control-static"><%= @user.rentable.transfer_title %></p>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label"><%= I18n.t('user_home.pending_transfers') %></label>

            <div class="col-sm-10">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th><%= I18n.t('invoice.due') %></th>
                  <th><%= I18n.t('invoice.total') %></th>
                  <th><%= I18n.t('common.actions') %></th>
                </tr>
                </thead>

                <tbody>
                <% @user.user_invoices.each do |ui|
                  unless ui.invoice.paid %>
                        <tr>
                          <td><%= ui.invoice.due %></td>
                          <td><%= ui.total %></td>
                          <td>
                            <%= link_to I18n.t('common.details'), invoice_details_path(ui.id), :class => "btn btn-info" %>
                          </td>
                        </tr>
                    <% end %>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <%= I18n.t('user_home.title.rentable_details') %>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body form-horizontal">
        <% if @user.rentable %>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('rentables.category') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= I18n.t('rentables.categories.'+@user.rentable.category) %></p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('rentables.city') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= @user.rentable.city %></p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('rentables.street') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= @user.rentable.street %></p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('rentables.zip') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= @user.rentable.zip %></p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('rentables.admin') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= @user.rentable.admin.full_name %></p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('rentables.admin.email') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= @user.rentable.admin.email %></p>
              </div>
            </div>

        <% else %>
            <%= I18n.t('user_home.not_renting') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <%= I18n.t('user_home.title.invoices_history') %>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th><%= I18n.t('invoice.rentable') %></th>
            <th><%= I18n.t('invoice.due') %></th>
            <th><%= I18n.t('invoice.total') %></th>
            <th><%= I18n.t('invoice.paid') %></th>
            <th><%= I18n.t('common.actions') %></th>
          </tr>
          </thead>

          <tbody>
          <% @user.user_invoices.each do |ui| %>
              <tr>
                <td><%= ui.invoice.rentable ? ui.invoice.rentable.city+' '+ui.invoice.rentable.street : '' %></td>
                <td><%= ui.invoice.due %></td>
                <td><%= ui.total %></td>
                <td><%= I18n.t('common.' + ui.invoice.paid.to_s)  %></td>
                <td>
                  <%= link_to I18n.t('common.details'), invoice_details_path(ui.id), :class => "btn btn-info" %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <%= I18n.t('user_home.title.inventory') %>
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <div class="col-sm-10">
          <% if @user.rentable %>
              <ul>
                <% @user.rentable.inventory.split(/\n/).each do |el| %>
                    <li><%= el %></li>
                <% end %>
              </ul>
          <% else %>
              <%= I18n.t('user_home.not_renting') %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <%= I18n.t('user_home.title.user') %>
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">

        <%= form_tag update_password_user_path(@user.id), :method => 'get', :class => "schedule-form form-horizontal" do %>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('devise.user.email') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= @user.email %></p>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"><%= I18n.t('devise.user.first_name') %></label>

              <div class="col-sm-10">
                <p class="form-control-static"><%= @user.first_name %></p>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag 'user[password]', I18n.t('devise.user.password'), class: "col-md-2 control-label" %>
              <div class="col-sm-4">
                <%= password_field_tag 'user[password]', nil, autocomplete: "off", class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag 'user[password_confirmation]', I18n.t('devise.user.password_confirmation'), class: "col-md-2 control-label" %>
              <div class="col-sm-4">
                <%= password_field_tag 'user[password_confirmation]', nil, autocomplete: "off", class: "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-md-offset-2">
                <%= submit_tag I18n.t('user_home.update_password'), class: "btn btn-info" %>
              </div>
            </div>
        <% end %>

      </div>
    </div>
  </div>
</div>