<%= form_for(@admin, :html => {:class => "form-horizontal schedule-form"}) do |f| %>
    <% if @admin.errors.any? %>
        <div id="error_explanation">
          <% @admin.errors.full_messages.each do |message| %>
              <div class="alert alert-danger" role="alert"><%= message %></div>
          <% end %>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email, I18n.t('devise.admin.email'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :contact_email, I18n.t('devise.admin.contact_email'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.email_field :contact_email, class: "form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :phone_number, I18n.t('devise.admin.phone_number'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :phone_number, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, I18n.t('devise.admin.first_name'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, I18n.t('devise.admin.last_name'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, I18n.t('devise.admin.password'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, I18n.t('devise.admin.password_confirmation'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-5">
        <div class="actions">
          <%= f.submit I18n.t('common.save'), class: "btn btn-default" %>
        </div>
      </div>
    </div>
<% end %>
