<%= form_for(@invoice, :html => {:class => "form-horizontal schedule-form"}) do |f| %>
    <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <% @invoice.errors.full_messages.each do |message| %>
              <div class="alert alert-danger" role="alert"><%= message %></div>
          <% end %>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :rentable_id_mock, I18n.t('invoice.rentable'), class: "col-md-2 control-label" %>
      <div class="col-sm-5">
        <%= text_field_tag :rentable_id_mock, f.object.rentable.city+' '+f.object.rentable.street, class: "form-control", disabled: true %>
        <%= f.select :rentable_id, options_for_select(Rentable.all.map { |s| [s.city + ' ' +s.street, s.id] }, :selected => @invoice.rentable_id), {include_blank: true}, {:class => "form-control hidden"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :due, I18n.t('invoice.due'), class: "col-md-2 control-label" %>
      <div class="col-sm-5">
        <%= f.date_select :due, {:use_month_names => [I18n.t('month.jan'), I18n.t('month.feb'), I18n.t('month.mar'), I18n.t('month.apr'), I18n.t('month.may'), I18n.t('month.jun'), I18n.t('month.jul'), I18n.t('month.aug'), I18n.t('month.sep'), I18n.t('month.oct'), I18n.t('month.nov'), I18n.t('month.dec')], :class => "form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :paid, I18n.t('invoice.paid'), class: "col-md-2 control-label" %>
      <div class="col-sm-1">
        <%= f.check_box :paid, {:class => "form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-5">
        <div class="actions">
          <%= f.submit I18n.t('common.save'), class: "btn btn-default" %>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th></th>
        <th><%= I18n.t('user_invoice.rent') %></th>
        <th><%= I18n.t('user_invoice.power') %></th>
        <th><%= I18n.t('user_invoice.water') %></th>
        <th><%= I18n.t('user_invoice.trash') %></th>
        <th><%= I18n.t('user_invoice.heating') %></th>
        <th><%= I18n.t('user_invoice.upkeep') %></th>
        <th><%= I18n.t('user_invoice.other') %></th>
        <th><%= I18n.t('invoice.sum') %></th>

        <th class="hidden"><%= I18n.t('invoice.hot_water') %></th>
        <th class="hidden"><%= I18n.t('invoice.cold_water') %></th>
        <th class="hidden"><%= I18n.t('invoice.id') %></th>
        <th class="hidden"><%= I18n.t('invoice.user_id') %></th>
        <th class="hidden"><%= I18n.t('invoice.power_price') %></th>
        <th class="hidden"><%= I18n.t('invoice.power_usage') %></th>
        <th class="hidden"><%= I18n.t('invoice.hot_water_price') %></th>
        <th class="hidden"><%= I18n.t('invoice.hot_water_usage') %></th>
        <th class="hidden"><%= I18n.t('invoice.cold_water_price') %></th>
        <th class="hidden"><%= I18n.t('invoice.cold_water_usage') %></th>
        <th class="hidden"><%= I18n.t('invoice.other_name') %></th>
      </tr>
      </thead>
      <tbody>
      <%= f.fields_for :user_invoices do |ui| %>
          <% if ui.object.errors.any? %>
              <div id="error_explanation">
                <% ui.object.errors.full_messages.each do |message| %>
                    <div class="alert alert-danger" role="alert"><%= message %></div>
                <% end %>
              </div>
          <% end %>
          <tr class="summable-row">
            <td><%= ui.object.user.full_name %></td>
            <td><%= ui.text_field :rent, class: "form-control rent sum-contributor" %></td>
            <td><%= ui.text_field :power, class: "form-control power sum-contributor" %></td>
            <td><%= ui.text_field :water, class: "form-control water sum-contributor" %></td>
            <td><%= ui.text_field :trash, class: "form-control trash sum-contributor" %></td>
            <td><%= ui.text_field :heating, class: "form-control heating sum-contributor" %></td>
            <td><%= ui.text_field :upkeep, class: "form-control upkeep sum-contributor" %></td>
            <td><%= ui.text_field :other_sum, class: "form-control other_sum sum-contributor" %></td>
            <td><%= text_field_tag 'sum_' + ui.object.id.to_s, nil, class: "form-control invoice-sum" %></td>

            <td class="hidden"><%= text_field_tag nil, nil, class: "form-control water-sum-contributor hot_water" %></td>
            <td class="hidden"><%= text_field_tag nil, nil, class: "form-control water-sum-contributor cold_water" %></td>

            <td class="hidden"><%= ui.text_field :id, class: "form-control" %></td>
            <td class="hidden"><%= ui.text_field :user_id, class: "form-control" %></td>
            <td class="hidden"><%= ui.text_field :power_price, class: "form-control power-contributor power_price" %></td>
            <td class="hidden"><%= ui.text_field :power_usage, class: "form-control power-contributor power_usage" %></td>
            <td class="hidden"><%= ui.text_field :hot_water_price, class: "form-control hot_water-contributor hot_water_price" %></td>
            <td class="hidden"><%= ui.text_field :hot_water_usage, class: "form-control hot_water-contributor hot_water_usage" %></td>
            <td class="hidden"><%= ui.text_field :cold_water_price, class: "form-control cold_water-contributor cold_water_price" %></td>
            <td class="hidden"><%= ui.text_field :cold_water_usage, class: "form-control cold_water-contributor cold_water_usage" %></td>
            <td class="hidden"><%= ui.text_field :other_name, class: "form-control" %></td>
          </tr>
      <% end %>
      <tr class="summable-row">
        <td><%= I18n.t('invoice.for_all') %></td>
        <td><%= text_field "", "", class: "form-control field-default", :data => {:ref => "rent"} %></td>
        <td></td>
        <td></td>
        <td><%= text_field "", "", class: "form-control field-default", :data => {:ref => "trash"} %></td>
        <td><%= text_field "", "", class: "form-control field-default", :data => {:ref => "heating"} %></td>
        <td><%= text_field "", "", class: "form-control field-default", :data => {:ref => "upkeep"} %></td>
        <td><%= text_field "", "", class: "form-control field-default", :data => {:ref => "other_sum"} %></td>
      </tr>
      </tbody>
    </table>

    <table class="table table-bordered table-hover" style="width: 200px">
      <thead>
      <tr>
        <th><%= I18n.t('invoice.media') %></th>
        <th><%= I18n.t('invoice.usage') %></th>
        <th><%= I18n.t('invoice.price') %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= I18n.t('invoice.power') %></td>
        <td><%= text_field_tag nil, nil, class: "form-control power_usage" %></td>
        <td><%= text_field_tag nil, nil, class: "form-control power_price" %></td>
      </tr>
      <tr>
        <td><%= I18n.t('invoice.cold_water') %></td>
        <td><%= text_field_tag nil, nil, class: "form-control cold_water_usage" %></td>
        <td><%= text_field_tag nil, nil, class: "form-control cold_water_price" %></td>
      </tr>
      <tr>
        <td><%= I18n.t('invoice.hot_water') %></td>
        <td><%= text_field_tag nil, nil, class: "form-control hot_water_usage" %></td>
        <td><%= text_field_tag nil, nil, class: "form-control hot_water_price" %></td>
      </tr>
      </tbody>
    </table>
<% end %>
<script>
    function synchronizedFields(element) {
        $(element).val($(element).val());
        $(element).change(function (event) {
            var newValue = $(event.target).val();
            $(element).each(function (i, el) {
                var input = $(el);
                if (input.val() != newValue) {
                    input.val(newValue);
                    input.trigger('change');
                    input.effect('highlight', 'slow', 2000);
                }
            });
        })
    }

    function sumupContainer(container, sumSelector, sumableSelector) {
        var inputs = container.find(sumableSelector);
        var sum = container.find(sumSelector);
        var total = 0;
        inputs.each(function (i, field) {
            total += parseFloat($(field).val())
        });
        sum.val(total);
        sum.effect('highlight', 'slow', 2000);
    }

    function multiplyForContainer(container, name) {
        var inputs = container.find(name + '-contributor');
        var output = container.find(name);
        var total = 1;
        inputs.each(function (i, field) {
            total *= parseFloat($(field).val())
        });
        if (output.val() != total) {
            output.val(total);
            output.attr('value', total);
            output.trigger('change');
            output.effect('highlight', 'slow', 2000);
        }
    }

    function applyMultiplyingLogic(name) {
        $(name + '-contributor').change(function (event) {
            var container = $(event.target).closest('tr');
            multiplyForContainer(container, name);
        });
    }


    $(document).ready(function () {
        $('.field-default').change(function (event) {
            var defaultField = $(event.target);
            var refClass = defaultField.attr('data-ref');
            var updated = $('.' + refClass);
            updated.val(defaultField.val());
            updated.trigger('change');
        });

        $('.sum-contributor').change(function (event) {
            var container = $(event.target).closest('tr');
            sumupContainer(container, ".invoice-sum", '.sum-contributor');
        });

        $('.water-sum-contributor').change(function (event) {
            var container = $(event.target).closest('tr');
            sumupContainer(container, ".water", '.water-sum-contributor');
        });

        synchronizedFields('.power_usage');
        synchronizedFields('.power_price');
        synchronizedFields('.cold_water_usage');
        synchronizedFields('.cold_water_price');
        synchronizedFields('.hot_water_usage');
        synchronizedFields('.hot_water_price');

        applyMultiplyingLogic('.power');
        applyMultiplyingLogic('.hot_water');
        applyMultiplyingLogic('.cold_water');

        $('.summable-row').each(function (i, row) {
            sumupContainer($(row), ".invoice-sum", '.sum-contributor');
            multiplyForContainer($(row), '.power');
            multiplyForContainer($(row), '.hot_water');
            multiplyForContainer($(row), '.cold_water');
        });

        $('select').not('.form-control').addClass('form-control').css('width', '32%').css('display', 'inline')
    })
</script>
