<h1><%= I18n.t('invoice.listing_all') %></h1>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th><%= I18n.t('invoice.rentable') %></th>
    <th><%= I18n.t('invoice.due') %></th>
    <th><%= I18n.t('invoice.paid') %></th>
    <th><%= I18n.t('common.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.rentable ? invoice.rentable.city+' '+invoice.rentable.street : '' %></td>
        <td><%= invoice.due %></td>
        <td><%= invoice.paid %></td>
        <td>
          <%= link_to I18n.t('common.edit'), edit_invoice_path(invoice), :class => "btn btn-link" %>
          <%= link_to I18n.t('common.destroy'), invoice, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-link" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to I18n.t('common.new'), new_invoice_path, :class => "btn btn-default btn-lg" %>