<p id="notice"><%= notice %></p>

<p>
  <strong>Rentable:</strong>
  <%= @invoice.rentable %>
</p>

<p>
  <strong>Due:</strong>
  <%= @invoice.due %>
</p>

<p>
  <strong>Paid:</strong>
  <%= I18n.t('common.' + @invoice.paid.to_s)  %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
