<%= form_for(@user, :html => {:class => "form-horizontal schedule-form"}) do |f| %>
    <% debug @user %>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <% @user.errors.full_messages.each do |message| %>
              <div class="alert alert-danger" role="alert"><%= message %></div>
          <% end %>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email, I18n.t('devise.user.email'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, I18n.t('devise.user.first_name'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, I18n.t('devise.user.last_name'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rentable_id, I18n.t('devise.user.rentable'), class: "col-md-2 control-label" %>
      <div class="col-sm-3">
        <%= f.select :rentable_id, options_for_select(Rentable.all.map { |s| [s.city + ' ' +s.street, s.id] }, :selected => @user.rentable_id), {include_blank: true}, {:class => "form-control"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, I18n.t('devise.user.password'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, I18n.t('devise.user.password_confirmation'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-5">
        <div class="actions">
          <%= f.submit I18n.t('common.save'), class: "btn btn-default" %>
        </div>
      </div>
    </div>
<% end %>
