<h1><%= I18n.t('rentable.listing_all') %></h1>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th><%= I18n.t('rentable.category') %></th>
    <th><%= I18n.t('rentable.city') %></th>
    <th><%= I18n.t('rentable.street') %></th>
    <th><%= I18n.t('rentable.zip') %></th>
    <th><%= I18n.t('common.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <% @rentables.each do |rentable| %>
      <tr>
        <td><%= rentable.category %></td>
        <td><%= rentable.city %></td>
        <td><%= rentable.street %></td>
        <td><%= rentable.zip %></td>
        <td>
          <%= link_to I18n.t('common.edit'), edit_rentable_path(rentable), :class => "btn btn-link" %>
          <%= link_to I18n.t('common.destroy'), rentable, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-link" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to I18n.t('common.new'), new_rentable_path, :class => "btn btn-default btn-lg" %>