<p id="notice"><%= notice %></p>

<h1>Listing Rentables</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>City</th>
      <th>Street</th>
      <th>Zip</th>
      <th>Inventory</th>
      <th>Admin</th>
      <th>Account number</th>
      <th>Transfer address</th>
      <th>Transfer title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentables.each do |rentable| %>
      <tr>
        <td><%= rentable.type %></td>
        <td><%= rentable.city %></td>
        <td><%= rentable.street %></td>
        <td><%= rentable.zip %></td>
        <td><%= rentable.inventory %></td>
        <td><%= rentable.admin %></td>
        <td><%= rentable.account_number %></td>
        <td><%= rentable.transfer_address %></td>
        <td><%= rentable.transfer_title %></td>
        <td><%= link_to 'Show', rentable %></td>
        <td><%= link_to 'Edit', edit_rentable_path(rentable) %></td>
        <td><%= link_to 'Destroy', rentable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rentable', new_rentable_path %>
