<p><%= I18n.t('devise.admin.mailer.greeting') %> <%= @resource.email %>!</p>

<p><%= I18n.t('devise.admin.mailer.someone_requested_password_reset') %></p>

<p><%= link_to I18n.t('devise.admin.mailer.click_to_change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('devise.admin.mailer.ignore_if_not_you') %></p>
