<html>
<head>
  <title>ScheduleWeb</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-text"><%= I18n.t('company') %></p>
    </div>
    <ul class="nav navbar-nav navbar-right">

      <%= yield :navbar %>

      <% if @current_user %>
          <li><%= link_to I18n.t('navigation.home'), home_path, class: "btn btn-default" %></li>
          <li><%= link_to I18n.t('devise.user.log_out'), destroy_session_path(@current_user), :method => :delete, class: "btn btn-default" %></li>
      <% end %>
      <% if @current_admin %>
          <li><%= link_to I18n.t('navigation.invoices'), invoices_path, class: "btn btn-link" %></li>
          <li><%= link_to I18n.t('navigation.users'), users_path, class: "btn btn-link" %></li>
          <li><%= link_to I18n.t('navigation.admins'), admins_path, class: "btn btn-link" %></li>
          <li><%= link_to I18n.t('navigation.rentables'), rentables_path, class: "btn btn-link" %></li>
          <li><%= link_to I18n.t('devise.admin.log_out'), destroy_session_path(@current_admin), :method => :delete, class: "btn btn-default" %></li>
      <% end %>
      <% unless @current_admin || @current_user %>
          <li><%= link_to I18n.t('devise.user.log_in'), new_user_session_path, class: "btn btn-link" %></li>
          <li><%= link_to I18n.t('devise.admin.log_in'), new_admin_session_path, class: "btn btn-link" %></li>
      <% end %>

    </ul>
  </div>
</nav>
<div class="container">

  <% flash.each do |name, msg| %>
      <% @types = {'alert' => 'danger', 'notice' => 'info'} %>
      <div class="alert alert-<%= @types[name] %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
  <% end %>

  <%= yield %>

</div>
</body>
</html>
