<h2> <%= I18n.t('devise.user.sign_up') %> </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, I18n.t('devise.user.email'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :first_name, I18n.t('devise.user.first_name'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, I18n.t('devise.user.last_name'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, I18n.t('devise.user.password'), class: "col-md-2 control-label" %>
      <% if @validatable %>
          <em>(<%= @minimum_password_length %> <%= I18n.t('devise.user.characters_minimum') %>)</em>
      <% end %>
      <div class="col-sm-4">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, I18n.t('devise.user.password_confirmation'), class: "col-md-2 control-label" %>
      <div class="col-sm-4">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit I18n.t('devise.user.sign_up'), class: "btn btn-default" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <%= render "users/shared/links" %>
      </div>
    </div>
<% end %>

